In [13]:
!pip install pandas numpy category_encoders

Requirement already satisfied: pandas in ./.venv/lib/python3.13/site-packages (2.3.2)
Requirement already satisfied: numpy in ./.venv/lib/python3.13/site-packages (2.3.3)
Requirement already satisfied: category_encoders in ./.venv/lib/python3.13/site-packages (2.8.1)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: patsy>=0.5.1 in ./.venv/lib/python3.13/site-packages (from category_encoders) (1.0.1)
Requirement already satisfied: scikit-learn>=1.6.0 in ./.venv/lib/python3.13/site-packages (from category_encoders) (1.7.2)
Requirement already satisfied: scipy>=1.0.0 in ./.venv/lib/python3.13/site-packages (from category_encoders) (1.16.2)
Requirement already satisfied: statsmodels>=0.9.0 in ./.venv/lib/python3.13/site-packages (from category_encoders) (0.14.5)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: joblib>=1.2.0 in ./.venv/lib/python3.13/site-packages (from scikit-learn>=1.6.0->category_encoders) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in ./.venv/lib/python3.13/site-packages (from scikit-learn>=1.6.0->category_encoders) (3.6.0)
Requirement already satisfied: packaging>=21.3 in ./.venv/lib/python3.13/site-packages (from statsmodels>=0.9.0->category_encoders) (25.0)

In [14]:
import pandas as pd

In [15]:
df_cliente1 = pd.read_csv('data/clientes.csv')
df_cliente2 = pd.read_csv('data/clientes 2.csv')

In [16]:
df_cliente2

,CPF,nome,S,nascimento,relacionamento,depent,salario,gastos,residencia,bairo,resultado
0,3.521488e+10,Ana,F,03-12-90,S,2.0,3500.0,1500.0,P,Barra da Tijuca,A
1,8.754124e+10,Pedro,M,07-25-85,C,1.0,2800.0,1000.0,A,Copacabana,A
2,9.632587e+10,Maria,F,11-08-78,C,4.0,5000.0,3000.0,F,Ipanema,A
3,1.234568e+10,João,M,02-19-95,S,0.0,1800.0,800.0,P,Tijuca,I
4,4.567891e+10,Carla,F,05-30-82,V,3.0,4200.0,2500.0,P,Botafogo,A
...,...,...,...,...,...,...,...,...,...,...,...
282,1.878901e+10,Laura,F,04-17-80,S,1.0,2000.0,900.0,X,Grajaú,I
283,1.889012e+10,Gustavo,M,08-21-90,C,3.0,4500.0,2500.0,F,Andaraí,A
284,1.890123e+10,Fernanda,F,06-03-75,V,4.0,5000.0,3000.0,P,Centro,A
285,1.901235e+10,Thiago,M,01-18-88,C,1.0,2800.0,1200.0,A,Leblon,A
286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN